@import 'scss/colors.scss';
@import 'scss/mixins.scss';

.container {
    @include flex(space-between, center, row);
    padding: 0.5rem 1.5rem;
    transition: 0.2s;
    color: $black;
    background-color: $nav-header;
}

.usernameContainer {
    @include flex();
    gap: 2rem;
}

.username {
    font-weight: bolder;
    font-size: 1.4rem;
    color: $white;
}

.img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
}

%button {
    border: 1px solid $primary;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    color: $white;
    transition: 0.2s;

    &:hover {
        background-color: $primary;
        cursor: pointer;
    }

    &:active {
        background-color: darken($primary, 10);
        border-color: darken($primary, 10);
    }
}

.buttonWithSession {
    @extend %button;

    background-color: transparent;
}

.buttonWithoutSession {
    @extend %button;

    background-color: $primary;
    font-weight: bold;
}