@use"sass:color";
@import '~scss/colors';
@import '~scss/mixins';

.container {
    @include flex(space-between, center, row);
    padding: 0.5rem 1.5rem;

    color: $black;

    background-color: $nav-header;

    transition: 0.2s;
}

.usernameContainer {
    @include flex;
    gap: 2rem;
}

.username {
    color: $white;
    font-weight: bolder;
    font-size: 1.4rem;
}

.img {
    width: 4.5rem;
    height: 4.5rem;

    border-radius: 50%;
}

%button {
    padding: 0.5rem 0.8rem;

    color: $white;

    border: 0.1rem solid $primary;
    border-radius: 0.5rem;

    transition: 0.2s;

    &:hover {
        background-color: $primary;
        cursor: pointer;
    }

    &:active {
        background-color: color.adjust($primary, $lightness: -10);
        border-color: color.adjust($primary, $lightness: -10);
    }
}

.buttonWithSession {
    @extend %button;

    background-color: transparent;
}

.buttonWithoutSession {
    @extend %button;
    font-weight: bold;

    background-color: $primary;
}