@use "sass:color";
@import '~scss/colors';


.link {
    text-decoration: none;
}

.container {
    padding: 0.5rem 3rem;

    color: $black;

    border-bottom: 0.1rem solid $gray;

    transition: 0.2s;

    &:hover {
        color: $gray;

        background: $primary;
        cursor: pointer;
    }

    &:active {
        background: color.adjust($primary, $lightness: -10%);
    }
}

.text {
    font-size: 1.4rem;
    text-decoration: none;
}

.icon {
    margin-right: 2rem;
}