@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/variable';

.input{
    @include flex(space-between, center, row);
    padding: 1rem;
}
 .label{
    cursor: pointer;
    display: block;
    padding: 3rem 2rem  ;
    position: relative;

    input {
    display: none;
     }
    span {
    border-radius: 100%; 
    border: 1px solid $primary; 
    font-size: 1.5rem;
    height: 2.3rem;
    left: 0; 
    line-height: 1.5; 
    overflow: hidden; 
    position: absolute; 
    text-align: center; 
    top: 50%;
    width: 2.3rem; 
     }
    input:checked + span {
    background:rgba(lighten($primary, 35%), 0.7);
    border-color: $black;}
    }

    .textArea{
        height: 10rem;
        width: 30rem;
        background:$gray; 
        text-align: center;
    }
