@use "sass:color";
@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';


label span {
    position: relative;
    top: -1.1rem;
    left: -2.7rem;

    width: 0.1rem;
    height: 0.1rem;

    color: $selectedblue;
    font-size: 1.5rem;

    pointer-events: none;

    @include responsive(md) {
        top: -1.5rem;
        left: -3.3rem;

        font-size: 1.7rem;
    }
}

.container {
    @include flex(center, center, column);
    min-width: 35rem;

    .formContainer {
        @include flex(space-between, center, column);
        gap: 1.5rem;
    }

    .img {
        width: 10rem;
        height: auto;

        @include responsive(md) {
            width: 15rem;
            height: auto;
            padding: 1rem;
        }
    }

    .topSection {
        @include flex(center, center, column);
        width: 35rem;

        text-align: center;

        background-color: rgba(color.adjust($gray, $lightness: 15%), 0.7);
        border: $primary solid 0.1rem;

        @include responsive(md) {
            width: 70rem;
            height: 20rem;
        }

        .title {
            font-weight: bold;

            @include responsive(md) {
                font-size: 1.2rem;
            }
        }

        .inputRadio {
            @include flex(center, center, row);

            input {
                width: 3.3rem;
                height: 3.3rem;

                background-color: white;
                border: 0.2rem solid $primary;
                border-radius: 50%;

                /* to disable the default appearance of radio button */
                appearance: none;

                @include responsive(md) {
                    width: 4.2rem;
                    height: 4.2rem;
                }

                &:focus {
                    outline: none;
                }

                &:checked {
                    background-color: $selectedblue;
                }

                &:checked~span {
                    color: $white;
                }
            }


        }

        .textArea {
            width: 85%;
            height: 10rem;
            margin-bottom: 1.5rem;

            font-weight: bold;

            background-color: color.adjust($primary, $lightness: 55%);
            border-radius: 0.5rem;

            @include responsive(md) {
                width: 90%;
                height: 15rem;

                font-size: 1.7rem;
            }
        }
    }

    .button {
        padding-bottom: 1.5rem;
    }
}