@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.iconsSection {
    @include flex(space-between, center, row);
    gap: 1rem;

    @include responsive(md) {
        height: 10rem;
    }

    .icon {
        width: 30px;

        @include responsive(md) {
            width: 50px;
        }
    }
}

.text {
    h2 {
        margin: 0;

        font-size: 1rem;

        @include responsive(md) {
            font-size: 1.5rem;
        }
    }

    h4 {
        margin: 0;

        color: $info;
        font-weight: bold;
        word-break: break-all;

        @include responsive(md) {
            font-size: 1.2rem;
        }
    }

    p {
        margin: 0;

        @include responsive(md) {
            font-size: 1.2rem;
        }
    }
}