@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.container {
    @include flex(flex-start, flex-start, column);
    background-color: $white;
    width: 37rem;
    height: 4.7rem;
    border-radius: 0.5rem;
    border: 0.15rem solid $lightgray;
    margin-left: 0.4rem;

    @include responsive(xs) {
        width: 38.5rem;
        margin-left: 0;
    }
}

.select {
    border: none;
    min-width: 37rem;
    font-size: 1.28rem;
    font-weight: 400;

    @include responsive(xs) {
        width: 38.5rem;
    }


}

.colorText {
    font-size: 1.4rem;
    font-weight: 500 !important;
    padding-left: 0.4rem;
}