@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.container {
    @include flex(flex-start, flex-start, column);
    width: 35rem;
    height: 4.7rem;

    background-color: $white;
    border: 0.15rem solid $lightgray;
    border-radius: 0.5rem;


    @include responsive(xs) {
        width: 38.5rem;

    }


}

.select {
    min-width: 35rem;

    font-weight: 400;
    font-size: 1.28rem;

    border: none;

    @include responsive(xs) {
        width: 38.5rem;
    }


}

.colorText {
    padding-left: 0.4rem;

    font-weight: 500 !important;
    font-size: 1.4rem;

    @include responsive(xxxs) {
        width: 35rem;
    }
}