@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.container {
    @include flex(flex-start, flex-start, column);
    background-color: $white;
    width: 38.2rem;
    height: 4.7rem;
    border-radius: 0.5rem;
    border: 0.15rem solid $lightgray;
}

.select {
    border: none;
    min-width: 38.2rem;
    font-size: 1.28rem;
    font-weight: 200;


}

.colorText {
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 0.4rem;
}