@import '~scss/colors.scss';
@import '~scss/mixins.scss';
@import '~scss/variable';

.container {
    @include flex(center, center, row);
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.input {
    border-radius: 0.7rem 0 0 0.7rem;
    border: none;
    padding: 1rem 2rem;
    width: 75%;
}

.button {
    background-color: darken($primary, 10);
    border-radius: 0 0.7rem 0.7rem 0;
    border: none;
    color: $white;
    cursor: pointer;
    padding: 1rem 2rem;
}
