@import '~scss/colors.scss';
@import '~scss/mixins.scss';
@import '~scss/variable';

.container {
    @include flex(space-between, center, row);
    background-color: $white;

    .img {
        width: 100%;
        height: 10rem;

        @include responsive(lg) {
            height: 22em;
        }
    }
}