@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/variable';

.label {
  padding-left: 15px;
  font-size: 15px;

  &:hover {
    color: $gray;
    cursor: pointer;
  }

  &:active {
    color: lighter($primary, 35%);
  }
}

.active {
  color: lighter($primary, 35%);
}
