@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/variable';

.label {
  @include flex(space-between,center,row);
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 1.5rem;
  .arrow{
    padding-right: 3rem;
  }

  &:hover {
    color: $gray;
    cursor: pointer;
  }

  &:active {
    color: lighter($primary, 35%);
  }

}

.active {
  color: lighter($primary, 35%);
}
