@import '~scss/colors';
@import '~scss/mixins';

.container {
    @include flex(space-between, center, row);
    width: 100%;

}

.icon {
    color: $white;
    font-size: 2.8rem;

    cursor: pointer;

    transition: 0.2s;

    &:hover {
        color: $gray;
        scale: 1.1;
    }

    &:active {
        color: dark($gray, 10);
    }
}

.logoIcon {
    height: 4rem;
}

.button {
    margin: 0;
    padding: 0;

    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.img {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;

    border-radius: 50%;
}