@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/variable';

.container {
  @include flex(center, flex-start, column);
  background-color: $white;
  width: 35rem;
  position: fixed;
  z-index: 9999;

  hr{
    width: 30rem;
  }
  .button{
    @include flex(space-around, center, row);
    padding-top: 0.5em;
  }
  .links{
   padding-left: 2em;
  }
}
