@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/variable';

.container {
  @include flex(center, flex-start, column);
  background-color: $white;
  width: 35em;
  position: fixed;
  z-index: 99;


  hr{
    margin-left: 2em;
    width: 30em;
  }
  .button{
    @include flex(space-around, center, row);
    padding: 0.5em 0 0 2em;
  }
  .links{
   padding-left: 2em;
  }
  .logOut{
    @include flex(center, center, column);}
}
