@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.image {
    width: 100vw;
    height: 20rem;

    background-repeat: no-repeat;
    background-size: cover;

    @include responsive(sm) {
        height: 25rem;
    }

    @include responsive(md) {
        height: 30rem;
    }

    @include responsive(lg) {
        height: 35rem;
    }

    @include responsive(xlg) {
        height: 65rem;
    }
}

.services {
    @include flex(space-around, center, row);
    margin: 0 0.5rem;
    padding: 1rem;

    background-color: $white;
}

.bannerContainer {
    @include flex(center, center, row);
    gap: 1.4rem;

    .bannerImage {
        width: 47%;
        height: 9rem;

        @include responsive(xs) {
            width: 50%;
            height: 10rem;
        }

        @include responsive(md) {
            width: 49%;
            height: 20rem;
        }

        @include responsive(lg) {
            height: 30rem;
        }
    }
}