@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 100vw;

    @include responsive(sm) {
        height: 25rem;
    }

    @include responsive(md) {
        height: 30rem;
    }

    @include responsive(lg) {
        height: 35rem;
    }

    @include responsive(xlg) {
        height: 65rem;
    }
}

.slider {
    .slide {
        opacity: 0;
        transition-duration: 2s ease;
        transform: scale(0.9);
    }

    .slideActive {
        opacity: 1;
        transition-duration: 2s;
        transform: scale(1);
    }
}

.miniatures {
    @include flex(center, center, column);
    background-color: $white;
    top: 27rem;
    width: 15rem;
    height: 3.2rem;
    border-radius: 50px;
    opacity: 0.5;
    position: absolute;

    @include responsive(sm) {
        top: 31.5rem;
    }

    @include responsive(md) {
        height: 3.5rem;
        top: 36.5rem;
        width: 18rem;
    }

    @include responsive(lg) {
        top: 41rem;
    }

    @include responsive(xlg) {
        top: 70rem;
    }

    &:hover {
        opacity: 0.8;
    }

    ul {
        @include flex(center, center, row);
        margin: 0.5rem;
        padding: 0 1em 0 0.5em;
    }

    li {
        @include background-image('~assets/selector.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 5px;
        list-style: none;
        margin: 0.5em;
    }

    .mini {
        @include flex(center, center, row);
        background-position: center;
        background-size: cover;
        cursor: pointer;
        height: 2em;
        transition-duration: 0.2s;
        width: 2em;

        &:hover {
            opacity: 0.5;
        }

        &:active {
            filter: opacity(0.3) drop-shadow(0 0 0 $selectedblue);
        }
    }

    .miniActive {
        @include flex(center, center, row);
        background-position: center;
        background-size: cover;
        cursor: pointer;
        filter: opacity(0.5) drop-shadow(0 0 0 $selectedblue);
        height: 2em;
        transition-duration: 0.2s;
        width: 2em;
    }

}

.services {
    @include flex(space-around, center, row);
    margin: 0 0.5rem;
    padding: 1rem;

    background-color: $white;
}

.bannerContainer {
    @include flex(center, center, row);
    gap: 0.4rem;
    margin: 0.5rem;

    .bannerImage {
        height: 10rem;
        width: 50%;

        @include responsive(md) {
            height: 20rem;
            width: 49%;
        }

        @include responsive(lg) {
            height: 30rem;
        }
    }
}