@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.image {
    width: 95vw;
    height: 20rem;

    background-repeat: no-repeat;
    background-size: cover;

    @include responsive(md) {
        width: 96vw;
        height: 28rem;
    }

    @include responsive(lg) {
        width: 97vw;
        height: 35rem;
    }

    @include responsive(xlg) {
        width: 98vw;
        height: 45rem;
    }
}

.services {
    @include flex(space-around, center, row);
    margin: 0 0.5rem;
    padding: 1rem;

    background-color: $white;
}

.bannerContainer {
    @include flex(space-between, center, row);
    gap: 10px;
    padding: 0.5rem;

    .bannerImage {
        width: 50%;
        height: 14rem;

        @include responsive(md) {
            height: 20rem;
        }

        @include responsive(lg) {
            height: 30rem;
        }
    }
}