@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';





.specifications {
    @include flex (flex-start, flex-start, column);
    background-color: $white;
    border-bottom: 0.6rem solid $gray;


}

.specsContainer {
    padding-top: 1.6rem;
    width: 37;

    @include responsive(xs) {
        width: 41.4rem;
    }
}

.specsTitle {
    border-bottom: 0.1rem solid $gray;
    min-width: 100%;
    font-size: 1.4rem;
    font-weight: 500;

    h3 {
        padding-left: 1.6rem;
    }
}

.specsData {
    @include flex (space-around, center, row);
    margin-bottom: 1.6rem;
    height: 2rem;


    p {
        height: 2.1rem;

    }

    .specsItem {
        @include flex (flex-start, flex-start, column);
        padding-left: 1.6rem;
        font-size: 1.28rem;
        font-weight: 600;
        width: 15rem;


        @include responsive(xs) {
            width: 17rem;
        }
    }

    .specsText {
        @include flex (flex-start, flex-start, column);
        font-size: 1.28rem;
        font-weight: 400;
        overflow: hidden;
        text-align: flex-start;
        text-overflow: ellipsis;
        width: 20rem;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.button {
    @include flex(flex-start, center, row);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1.6rem;
    width: 25rem;
    gap: 0.7rem;


}

.description {
    @include flex(flex-start, flex-start, column);
    background-color: $white;
    border-bottom: 0.6rem solid $gray;
    width: 37.5rem;

    @include responsive(xs) {
        width: 41.4rem;
    }



    .text {
        padding-left: 1.6rem;
        font-size: 1.28rem;
        font-weight: 300;
        width: 35.5rem;

        @include responsive(xs) {
            width: 38.5rem;
        }
    }

    .hide {
        padding-left: 1.6rem;
        display: -webkit-box;
        font-size: 1.28rem;
        font-weight: 300;
        width: 35.5rem;
        overflow: hidden;
        text-align: flex-start;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;

        @include responsive(xs) {
            width: 38.5rem;
        }
    }
}