@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';



.container {
    @include flex(center, center, column);
}

.specifications {
    @include flex(flex-start, flex-start, column);
    background-color: $white;
}

.specsContainer {
    width: 37rem;
    padding-top: 1.6rem;

    @include responsive(xs) {
        width: 41.4rem;
    }
}

.specsTitle {
    min-width: 100%;

    font-weight: 500;
    font-size: 1.4rem;

    border-bottom: 0.1rem solid $gray;

    h3 {
        padding-left: 1.6rem;
    }
}

.specsData {
    @include flex(space-around, center, row);
    height: 2rem;
    margin-bottom: 1.6rem;


    p {
        height: 2.1rem;
    }

    .specsItem {
        @include flex(flex-start, flex-start, column);
        width: 15rem;
        padding-left: 1.6rem;

        font-weight: 600;
        font-size: 1.28rem;


        @include responsive(xs) {
            width: 17rem;
        }
    }

    .specsText {
        @include flex(flex-start, flex-start, column);
        width: 20rem;
        overflow: hidden;

        font-weight: 400;
        font-size: 1.28rem;
        text-align: flex-start;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.button {
    @include flex(flex-start, center, row);
    gap: 0.7rem;
    width: 25rem;
    padding: .5rem 1.6rem;

    font-weight: 600;
    font-size: 1.2rem;

    cursor: pointer;


}

.description {
    @include flex(flex-start, flex-start, column);
    width: 37.5rem;

    background-color: $white;

    @include responsive(xs) {
        width: 41.4rem;
    }



    .text {
        width: 34.5rem;
        margin: 1.6rem;

        font-weight: 400;
        font-size: 1.28rem;

        @include responsive(xs) {
            width: 38.5rem;
        }
    }

    .hide {
        display: -webkit-box;
        width: 34.5rem;
        margin: 1.6rem;
        overflow: hidden;

        font-weight: 400;
        font-size: 1.28rem;
        text-align: flex-start;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;

        @include responsive(xs) {
            width: 38.5rem;
        }
    }
}

.borderLine {
    @include flex(center, center, column);
    width: 100vw;

    border-bottom: 0.6rem solid $gray;
}