@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.container {
    padding: 1.1rem;

    background-color: $white;


    .title {
        @include flex(space-between, center, row);
        font-weight: 500;
        font-size: 1.4rem;
    }

    .stars {
        @include flex(center, center, row);

        .rating {
            padding-left: 0.57rem;

            font-weight: 400;
            font-size: 1.28rem;
        }
    }

    .commentbox {
        width: 35rem;
        height: auto;
        padding: 0.7rem;

        border: 0.1rem solid $lightgray;
        border-radius: 0.5rem;

        @include responsive(xs) {
            width: 38.5rem;
        }
    }

    .commentText {
        width: 35.5rem;
        padding-bottom: 1.9rem;

        font-weight: 400;
        font-size: 1.2rem;

        @include responsive(xs) {
            width: 38.5rem;
        }
    }

    .user {
        @include flex(flex-start, center, row);
        gap: 0.8rem;
        width: 35.5rem;

        .username {
            font-weight: 500;
            font-size: 1.4rem;

        }

        .img {
            width: 2.8rem;
            height: 2.8rem;

            border-radius: 50%;
        }


    }

    .thumbsUp {
        width: 1.59;
        height: 1.59rem;

        color: $lightgray;

        &:hover {
            color: $gray;

            cursor: pointer;
        }

        &:active {
            color: darken($thumbsup, 5);
        }
    }

    .thumbsUpClicked {
        width: 1.59;
        height: 1.59rem;

        color: $thumbsup;


    }

    .thumbsDown {
        width: 1.59;
        height: 1.59rem;

        color: $lightgray;

        &:hover {
            color: $gray;

            cursor: pointer;
        }

        &:active {
            color: darken($red, 5);
        }
    }

    .thumbsDownClicked {
        width: 1.59;
        height: 1.59rem;

        color: $red;


    }

    .like {
        @include flex(flex-start, center, row);
        gap: 0.8rem;
        width: 35rem;

        @include responsive(xs) {
            width: 38.5rem;
        }
    }

    .help {
        @include flex(flex-start, center, row);
        gap: 0.8rem;
        height: 2.2rem;
        padding: 0 0.3rem;

        font-weight: 500;
        font-size: 1rem;

        border: 0.1rem solid $lightgray;
        border-radius: 1.5rem;
    }

    .dislike {
        @include flex(center, center, row);
        width: 3rem;
        height: 2.2rem;

        border: 0.1rem solid $lightgray;
        border-radius: 1.5rem;
    }

    .button {
        width: 35rem;
        padding-top: 1.2rem;

        font-weight: 600;
        font-size: 1.2rem;

        cursor: pointer;

        @include responsive(xs) {
            width: 38.5rem;
        }
    }
}