@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/variable';

.container {
  @include flex(center, center, row);
  background-color: $primary;
  height: 4.2rem;

  .input {
    background-color: $white;
    border-style: none;
    height: 4rem;
    min-width: 70%;
    outline: none;
    padding-left: 3rem;
  }
  .lupaContainer {
    background-color: $white;
    height: 4.2rem;
    .lupa {
      cursor: pointer;
      object-fit: contain;
      padding: 1rem 1rem 0 0;
    }
  }
}
