@import "scss/colors";
@import "scss/mixins";
@import "scss/variable";

.dropdown{

  display: none;
  
} 
.show{
    display: block;





   
}
.menuItems{
    @include flex( center,flex-start, column);
    background-color: $white;
    font-size: 1.4rem;
    font-weight: bold;
    height: 4rem;
    list-style: none;
    padding-left: 1rem;
    width: 20rem;
    a:link,
    a:visited,
    a:active {
      color: $black;
      text-decoration: none;
    }
    a:hover{
      color: $gray;
    }
    

} 
