@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/variable';

.container {
    background-color: $white;
    margin:.5rem;
    height: 12rem;

    .title{
        @include flex(space-around, center, Row);
        font-size: 2rem;
        font-weight: bold;
        padding:1rem;
    }

    .category{
        @include flex(center, center, Row);
        gap: 2rem;
    

        .img{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                transition-duration: 0.7s;
                transform: scale(1.2);
            }
        }
    }
}