@import '~scss/colors.scss';
@import '~scss/mixins.scss';
@import '~scss/variable';

.container {
    background-color: $white;
    height: 12rem;
    margin: 0.5rem;
    width: 94vw;
    @include responsive(md) {
        @include flex(space-around, center, column);
        height: 26rem;
        width: 48.7vw;
    }

    .title {
        @include flex(space-around, center, Row);
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
    }

    .category {
        @include flex(center, center, Row);
        gap: 1rem;
        @include responsive(sm) {
            gap: 2rem;
        }
        @include responsive(md) {
            display: grid;
            grid-template-columns: auto auto auto;
        }

        .img {
            border-radius: 50%;
            cursor: pointer;
            height: 4.8rem;
            width: 4.8rem;
            @include responsive(sm) {
                height: 6rem;
                width: 6rem;
            }

            &:hover {
                transition-duration: 0.7s;
                transform: scale(1.2);
            }
        }
    }
}
