@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.container {
    @include flex(center, center, column);
    margin: 0.5rem;

    background-color: $gray;

    .onSale {
        @include flex(center, center, row);
        gap: 0.5rem;
        width: 100%;
        height: 3rem;
        margin: 0.5rem;

        font-weight: bold;
        font-size: 1.8rem;

        background-color: $white;
    }

    .product {
        @include flex(center, center, column);
        gap: 10px;
        margin-bottom: 0.5rem;
    }

    .button {
        width: 100%;
        height: 3rem;
        padding: 5px;

        font-size: 1.2rem;

        background-color: $white;
        cursor: pointer;
        @include flex(center, center, row);


    }

    .icon {
        width: 2rem;
    }
}