@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';


.container {
    @include flex(center, center, column);
    width: 100%;

}

.image {
    width: 378px;
    height: 20rem;

    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;

    @include responsive(sm) {
        height: 25rem;
    }

    @include responsive(md) {
        width: 38.4rem;
        height: 20rem;
    }

    @include responsive(lg) {
        width: 85.3rem;
        height: 40rem;
    }

    @include responsive(xlg) {
        width: 110rem;
        height: 60rem;
    }


}

.upperSection {

    width: 100%;

    @include responsive(md) {
        gap: 3.6rem;
        @include flex(center, center, row);
    }
}

.slider {

    overflow: hidden;

    border-radius: 1rem;

    .slide {
        transform: translateX(100%);


        opacity: 0;

        transition: transform 2s ease, opacity 2s ease;


    }

    .slideActive {
        transform: translateX(0);


        opacity: 1;

        transition: transform 2s ease, opacity 2s ease;


    }
}

.miniatures {
    @include flex(center, center, column);
    position: absolute;
    top: 25rem;

    width: 15rem;
    height: 3.2rem;

    background-color: $white;
    border-radius: 50px;
    opacity: 0.5;

    @include responsive(sm) {
        top: 33.5rem;
    }

    @include responsive(md) {
        top: 25.5rem;

        width: 18rem;
        height: 3.5rem;
    }

    @include responsive(lg) {
        top: 44rem;
    }

    @include responsive(xlg) {
        top: 63rem;
    }

    &:hover {
        opacity: 0.8;
    }

    ul {
        @include flex(center, center, row);
        margin: 0.5rem;
        padding: 0 1em 0 0.5em;
    }

    li {
        @include background-image('~assets/selector.png');
        margin: 0.5em;

        list-style: none;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 5px;
    }

    .mini {
        @include flex(center, center, row);
        width: 2em;
        height: 2em;

        background-position: center;
        background-size: cover;
        cursor: pointer;

        transition-duration: 0.2s;

        &:hover {
            opacity: 0.5;
        }

        &:active {
            filter: opacity(0.3) drop-shadow(0 0 0 $selectedblue);
        }
    }

    .miniActive {
        @include flex(center, center, row);
        width: 2em;
        height: 2em;

        background-position: center;
        background-size: cover;
        cursor: pointer;
        filter: opacity(0.5) drop-shadow(0 0 0 $selectedblue);

        transition-duration: 0.2s;
    }

}

.services {
    @include flex(space-around, center, row);
    gap: 0.8rem;
    width: 100%;
    padding: 1.6rem 0;

    background-color: $white;

    @include responsive(md) {
        gap: 1.6rem;
    }

    @include responsive(lg) {
        gap: 3.5rem;
    }
}

.bannerContainer {
    @include flex(center, center, row);
    flex: 1;
    gap: 1.5rem;
    margin-top: 1.6rem;

    @include responsive(md) {
        @include flex(center, center, column);
        width: 100%;
        margin-top: 0;
    }

    @include responsive(lg) {
        gap: 3.5rem;
    }

    .bannerImage {
        width: 48%;
        height: 10rem;


        border-radius: 1rem;

        @include responsive(sm) {
            width: 50%;

        }

        @include responsive(md) {
            width: 100%;

        }

        @include responsive(lg) {
            height: 18.2rem;
        }

        @include responsive(xlg) {

            height: 28rem;
        }


    }
}