@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.container {
    @include flex(flex-start, center, column);
}

.selector {
    @include flex(space-between, center, row);
    width: 35rem;
    height: 4rem;
    margin: 0.5rem 1.6rem;

    border: 0.15rem solid $lightgray;
    border-radius: 1.5rem;

    @include responsive(xs) {
        width: 38.2rem;
    }


}

.button {
    @include flex(center, center, row);
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;

    font-size: 2.3rem;

    background-color: $lightgray;
    border: none;
    border-radius: 50px;

    &:hover {
        background-color: $gray;
        cursor: pointer;
    }

    &:active {
        background-color: darken($gray, 5);
    }

}

.input {
    font-weight: 500;

    font-size: 1.6rem;
    text-align: center;

    border: none;

}

.stock {
    font-size: 1.28rem;


    .spanStock {
        padding-left: 0.3rem;

        color: $gray;
        font-size: 1.2rem;
    }
}