@import "scss/colors";
@import "scss/mixins";
@import "scss/variable";


.container {
    @include flex (center,center,column);
    background-color: $white;
   
    margin: .5rem;
    h2{
        font-size: 2rem;
        font-weight: bold;
        margin: .5rem;
 
    }
 .product{
    @include flex (center,center,column);
    gap: 10px;
 }
}