@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.containerLarge {
    @include flex(flex-start, center, row);
    gap: 1rem;
    background-color: $white;
    width: 37.5rem;
    min-height: 11.2rem;
    padding-left: 1rem;
    border: 2px solid $gray;
    cursor: pointer;

    @include responsive(xs) {
        min-width: 40rem;
        height: 17rem;
    }

    @include responsive(md) {
        height: 20rem;
    }

    @include responsive(lg) {
        width: 80vw;
        height: 25rem;
    }
}

.containerSmall {
    @include flex(flex-start, center, column);
    padding-top: 1rem;
    width: 16.5rem;
    height: 25.8rem;
    background-color: $white;
    border: 2px solid $gray;
    cursor: pointer;

    @include responsive(md) {
        width: 21rem;
    }
}

.imgLarge {
    @include flex(center, center, row);
    width: 10.6rem;
    height: 10.6rem;
    object-fit: fill;

    @include responsive(md) {
        padding-left: 2rem;
    }
}

.imgSmall {
    @include flex(space-between, flex-start, column);
    width: 15.5rem;
    height: 15.5rem;
    object-fit: cover;
}

.description {
    @include flex(flex-start, flex-start, column);
}

.titleLarge {
    @include flex(space-between, flex-start, row);
    width: 19rem;
    height: 7rem;
    overflow: hidden;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: flex-start;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include responsive(md) {
        width: 40rem;
        font-size: 1.5rem;
    }
}

.titleSmall {
    display: -webkit-box;
    width: 15rem;
    height: 4rem;
    overflow: hidden;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include responsive(md) {
        width: 20rem;

    }
}


.dataLarge {
    text-align: center;

    @include responsive(md) {
        font-size: 1.4rem;
    }
}

.dataSmall {
    @include flex(space-between, center, row);
    width: 15rem;
    padding-top: 5px;
    text-align: center;

    @include responsive(md) {
        font-size: 1.3rem;
    }
}

.smallRating {
    font-size: 1.2rem;
    font-weight: 800;
}

.largeRating {
    font-size: 1.2rem;
    font-weight: 500;
}

.block {
    display: none;
}

.info {
    @include flex(space-between, flex-start, column);
}

.largeSection {
    @include flex(center, flex-start, row);
    padding-top: .5rem;
}

.largeVotes {
    font-size: 1.2rem;
}

.smallVotes {
    font-size: 1.2rem;
}

.largePrice {
    font-size: 1.4rem;
    font-weight: 800;
}

.smallPrice {
    font-size: 1.4rem;
}