@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.containerLarge {
    @include flex(space-around, center, Row);
    gap: 1.5rem;
    width: 90vw;
    height: 10rem;

    border: 2px solid $gray;
    cursor: pointer;

    @include responsive(md) {
        height: 17rem;
    }

    @include responsive(lg) {
        width: 80vw;
    }
}

.containerSmall {
    @include flex(center, center, column);
    width: 16.5rem;
    height: 25.8rem;

    border: 2px solid $gray;
    cursor: pointer;

    @include responsive(md) {
        width: 19rem;
    }
}

.imgLarge {
    @include flex(flex-start, start, column);
    width: 5rem;
    height: 5rem;
    padding-left: 2rem;
    object-fit: fill;

    @include responsive(md) {
        width: 10rem;
        height: 10rem;
        padding-left: 1.5rem;
    }
}

.imgSmall {
    @include flex(flex-end, flex-end, column);
    width: 15.5rem;
    height: 15.5rem;
    object-fit: fill;

}

.description {
    @include flex(flex-start, flex-start, column);

    .titleLarge {
        width: 25rem;


        font-weight: bold;
        font-size: 1.3rem;
        text-align: center;

        @include responsive(md) {
            width: 40rem;

            font-size: 1.5rem;
        }
    }

    .titleSmall {
        display: -webkit-box;

        width: 15rem;
        overflow: hidden;

        font-weight: bold;
        font-size: 1.4rem;
        text-align: center;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @include responsive(md) {
            width: 20rem;

        }
    }

    .priceLarge {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;

        @include responsive(md) {
            font-size: 1.4rem;
        }
    }

    .priceSmall {
        @include flex(space-between, center, row);
        width: 15rem;
        padding-top: 5px;

        font-weight: bold;
        font-size: 1.4rem;
        text-align: center;

        @include responsive(md) {
            font-size: 1.3rem;
        }
    }

    .rating {
        font-size: 1.2rem;
    }

    .block {
        display: none;
    }

    .info {
        @include flex(space-between, center, column);
    }
}