@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';


.container {
    background-color: $white;
    border: none;
    outline: none;
    cursor: pointer;

    &.large {
        @include flex(space-between, center, row);
        width: 37rem;
        height: 13.3rem;

        @include responsive(xs) {
            width: 39.6rem;
        }
    }

    &.small {
        @include flex(space-between, center, column);
        width: 18rem;
        height: 32.25rem;

        @include responsive(xs) {
            width: 19.78rem;
        }
    }

}

.description {
    @include flex(flex-start, flex-start, column);

    &.small {
        gap: 0.7rem;
    }
}

.title {
    display: -webkit-box;
    overflow: hidden;

    font-weight: 500;
    font-size: 1.4rem;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &.large {
        width: 22rem;
        height: 4.4rem;

        text-align: flex-start;


        @include responsive(xs) {
            width: 24.4rem;

            font-size: 1.5rem;
        }
    }

    &.small {
        width: 17.7rem;
        height: 4rem;

        text-align: center;

        @include responsive(md) {
            width: 20rem;
        }
    }
}

.img {
    &.large {
        @include flex(center, center, row);
        width: 12.1rem;
        height: 12.1rem;
        margin: 0.9rem;
        object-fit: fill;
    }

    &.small {
        @include flex(space-between, flex-start, column);
        width: 15.5rem;
        height: 15.5rem;
        margin: 0.8rem;
        object-fit: cover;

        @include responsive(xs) {
            width: 18.2rem;
            height: 18.2rem;
        }
    }

}

.data {
    &.large {
        @include flex(space-between, space-between, row);
        width: 22.5rem;
        margin-top: 5px;
    }

    &.small {
        @include flex(space-between, center, row);
        width: 17rem;
        margin-top: 5px;

        text-align: center;
    }
}

.section {
    &.large {
        @include flex(center, flex-start, column);
        width: 24.4rem;
        margin-top: 0.5rem;
    }

    &.small {
        @include flex(center, center, column);
    }
}

.votes {
    font-size: 1.2rem;
}

.badge {
    @include flex(center, center, row);
    width: 6.8rem;
    height: 2rem;

    font-weight: 600;
    font-size: 0.9rem;

    border-radius: 0.38rem;

    &.danger {
        color: $white;

        background-color: $danger;
    }

    &.warning {
        background-color: $warning;
    }

    &.success {
        color: $white;

        background-color: $success;
    }

}

.price {
    @include flex(space-between, flex-start, column);
}