@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/variable';

.container {
  background-color: $primary;
  height: 10rem;
  min-width: 37.5rem;
  .topItems {
    @include flex(space-between, center, row);
    .menu {
      cursor: pointer;
      padding: 0.3rem 0 0 1.4rem;
    }
    .logo {
      cursor: pointer;
      height: 3.8rem;
      padding-top: 0.6rem;
      width: 5rem;
    }
    .cart {
      cursor: pointer;
      padding: 0.3rem 1.4rem 0 0;
    }
  }
}
