@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.container {
    @include flex(center, center, row);
    width: 80%;


    text-align: center;
}

.input {
    width: 80%;
    padding: 1rem 2rem;

    border: none;
    border-radius: 0.7rem 0 0 0.7rem;

}

.button {
    padding: 1rem 2rem;

    color: $white;

    background-color: darken($primary, 10);
    border: none;
    border-radius: 0 0.7rem 0.7rem 0;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 95px;
    z-index: 9;

    display: flex;
    flex-direction: column;
    width: 95%;

    background-color: rgba($primary, 0.91);
    border: 1px solid $lightgray;
    border-radius: 0 0 1rem 1rem;


    @include responsive(xlg) {
        width: 84%;
    }

    @include responsive(lg) {
        width: 86%;
    }

    @include responsive(md) {
        width: 89%;
    }

    &:empty {
        border: none;
    }
}

.dropdownRow {
    height: 3.5rem;
    margin: 0;
    padding: 0;

    color: $white;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;

    background: none;
    border: none;
    cursor: pointer;
}