// Standard colors
$blue: #00f;
$gray: #ccc;
$red: #f00;

// Custom colors

$background: #121212;
$black: #312f2f;
$bonewhite: #f4fff8;
$buttonPrimary: #FFF111;
$buttonSecondary: #082032;
$disabled: #4e4d4d;
$info: #6883ba;
$primary: #334756;
$secondary: #e8e8e8;
$selectedblue: #2679B8;
$success: #85ad87;
$warning: #ffc914;
$white: #FFF;
$lightgray: #D9D9D9;
$thumbsup: #0077B5;
$anothergray: #F5F5F5;
$backdrop: rgba($background, 0.5);
$nav-header: #042238;