// Standard colors
$blue: #00f;
$gray: #ccc;
$red: #f00;

// Custom colors

$background: #121212;
$black: #312f2f;
$bonewhite: #f4fff8;
$borderButton: #e8e8e8;
$buttonPrimary: #ffd504;
$buttonSecondary: #082032;
$disabled: #4e4d4d;
$info: #6883ba;
$primary: #334756;
$secondary: #e8e8e8;
$success: #85ad87;
$warning: #ffc914;
$white: fff;
