@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/variable';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $gray;
  font-family: 'Poppins', sans-serif;
}