@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap';

html {
    position: relative;



    min-height: 100%;

    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 15rem;
    padding: 0;

    font-family: Poppins, sans-serif;

    background-color: $anothergray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}