@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.container {
    .pagination {
        @include flex(space-between, center, row);
    }

    margin: 0.5rem 0 1.5rem;


    background-color: $white;

    .title {
        @include flex(space-between, center, row);
        padding: 1rem 0;


        p {
            font-weight: 600;
            font-size: 1.8rem;
        }


    }

    .category {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 2rem;



        &.three-columns {
            grid-template-columns: repeat(3, 1fr)
        }

        .img {
            width: 7rem;
            height: 7rem;
            margin-bottom: 0.8rem;


            cursor: pointer;

            @include responsive(md) {
                width: 8rem;
                height: 8rem;
            }

            &:hover {
                transform: scale(1.2);

                transition-duration: 0.7s;
            }
        }
    }
}

.arrow {

    padding: 1rem;

    color: $primary;
    font-size: 3rem;

    cursor: pointer;
    opacity: 0.2;

    &:hover {
        opacity: 1;

        transition: 0.6s;
    }
}



.buttonCategory {
    @include flex(center, center, column);

    margin: 0;
    padding: 1rem 0;


    font-weight: 400;
    font-size: 1rem;

    background: transparent;

    border: none;
    outline: none;

    @include responsive(md) {
        width: 13rem;
        height: 13rem;

        font-size: 1.4rem;
    }

}

.buttonBottom {
    display: block;
    width: 100%;
    height: 3rem;
    margin-top: 1.1rem;
    padding: 0.5rem;

    font-size: 1.2rem;

    background-color: $white;
    border: 1px solid $gray;
    border-radius: 1rem;
    cursor: pointer;
    @include flex(center, center, row);

    @include responsive(md) {
        display: none;
    }
}

.buttonTop {
    display: none;

    font-size: 1.6rem;
    text-decoration: underline;

    cursor: pointer;

    @include responsive(md) {
        display: block;
    }
}