@import '~scss/colors.scss';
@import '~scss/mixins.scss';
@import '~scss/variable';

.small {
    font-size: 1.2em;
    padding: 0.5em 1.5em;
}

.primaryButton {
    background-color: $buttonPrimary;
    border-color: $lightgray;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    text-align: center;

    &:hover {
        background-color: lighten($buttonPrimary, 5);
    }

    &:active {
        background-color: darken($buttonPrimary, 10);
    }

    &:disabled {
        cursor: auto;
        background-color: $disabled;
    }
}

.secondaryButton {
    background-color: $white;
    border-color: $buttonPrimary;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    text-align: center;

    &:hover {
        background-color: $bonewhite;
    }

    &:active {
        background-color: lighten($gray, 25);
    }

    &:disabled {
        cursor: auto;
        background-color: $disabled;
    }
}

.big {
    @include flex(center, center, row);
    border-radius: 15px;
    font-size: 1.2em;
    height: 4.5rem;
    width: 38.2rem;


}