@use "sass:color";
@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.small {
    padding: 0.5em 1.5em;

    font-size: 1.2em;
}

.primaryButton {
    display: inline-flex;

    color: $white;
    font-weight: bold;
    text-align: center;

    background-color: $primary;
    border-color: $primary;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: color.adjust($primary, $lightness: 5);
    }

    &:active {
        background-color: color.adjust($primary, $lightness: -10);
    }

    &:disabled {
        background-color: $disabled;
        cursor: auto;
    }
}

.secondaryButton {
    display: inline-flex;

    color: $primary;
    font-weight: bold;
    text-align: center;

    background-color: $white;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: $bonewhite;
    }

    &:active {
        background-color: color.adjust($primary, $lightness: 25);
    }

    &:disabled {
        background-color: $disabled;
        cursor: auto;
    }
}

.big {
    @include flex(center, center, row);
    width: 10rem;
    height: 4rem;

    font-size: 1.2em;

    border-radius: 4px;

    @include responsive(md) {
        @include flex(center, center, row);
        width: 30rem;
        height: 4rem;

        font-size: 1.2em;

        border-radius: 4px;
    }
}