@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/variable';

.container{
    @include flex(flex-start, center, column);  
    background: $white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    height: 55rem;
    position: fixed;
    width: 35rem;

    .close{
        @include flex(flex-end, flex-end, row);
        color:$red;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1.5rem;
        padding-left: 29rem;
       

    }

 .input{
    @include flex(space-around, flex-start, column);
    font-size: 1.4rem;
    height: 10rem;
    padding: 3.5rem 0;
    width: 26rem;
    input{
        width: 25rem;
    }
    }
    .button{
        padding: 3.5rem 0 2rem 0;
    }
    .downData{
        @include flex(space-between, center, column);
     
    .logo{
        padding: 2rem;
      
        .img{
            cursor: pointer;
            height: 4rem;
            padding: 1rem .3rem;
            width: 4rem;
        }
    }
  .log{
    @include flex(flex-start, flex-start, row);
    font-size: 1.2rem;
    padding-left: 2rem;
    width: 250px;
    .link{
        color:$blue;
        cursor: pointer;
        text-decoration: underline;
    }

  }
}

}