@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.container {
    @include flex(flex-start, center, column);
    position: fixed;

    width: 35rem;
    height: 55rem;

    background: $white;
    border-radius: 4px;
    box-shadow: $boxShadow;

    .close {
        @include flex(flex-end, flex-end, row);
        margin-top: 1.5rem;
        padding-left: 29rem;

        color: $red;
        font-weight: bold;
        font-size: 2rem;

        cursor: pointer;
    }

    .input {
        @include flex(space-around, flex-start, column);
        width: 26rem;
        height: 10rem;
        padding: 3.5rem 0;

        font-size: 1.4rem;

        input {
            width: 25rem;
        }
    }

    .button {
        padding: 3.5rem 0 2rem;
    }

    .downData {
        @include flex(space-between, center, column);

        .logo {
            padding: 2rem;

            .img {
                width: 4rem;
                height: 4rem;
                padding: 1rem 0.3rem;

                cursor: pointer;
            }
        }

        .log {
            @include flex(flex-start, flex-start, row);
            width: 250px;
            padding-left: 2rem;

            font-size: 1.2rem;

            .link {
                color: $blue;
                text-decoration: underline;

                cursor: pointer;
            }
        }
    }
}
