@import "scss/colors";
@import "scss/mixins";
@import "scss/variable";
.slider {
  @include flex(center, center, row);
  background-color: rgba($white, 0.1);
  border-radius: 20px;

  .arrow {
    padding: 15px;
    font-size: 50px;
    color: $primary;
    cursor: pointer;
  }

  .slide {
    opacity: 0;
    transition-duration: 2s ease;
    transform: scale(0.9);
  }

  .slideActive {
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1);
  }

  .image {
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    @include responsive(md) {
      margin-top: 40px;
      width: 500px;
      height: 500px;
    }
  }
}
.miniatures {
  @include flex(center, center, row);

  gap: 10px;
  margin: 10px;
  @include responsive(md) {
    gap: 30px;
    margin: 30px;
  }

  .mini {
    width: 2em;
    height: 2em;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
    @include responsive(md) {
      width: 100px;
      height: 100px;
    }

    &:hover {
      opacity: 0.5;
    }
    &:focus{
      background-color: $selectedblue;
    }
  }
}