@import '~scss/colors.scss';
@import '~scss/mixins.scss';

.container {
    @include flex(space-between, center, row);
    width: 100%;
}

.icon {
    color: $white;
    cursor: pointer;
    font-size: 2.8rem;
    transition: 0.2s;

    &:hover {
        color: $gray;
        scale: 1.1;
    }

    &:active {
        color: dark($gray, 10);
    }
}

.logoIcon {
    height: 2.8rem;
}

.button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.img {
    border-radius: 50%;
    height: 3rem;
    margin-right: 2rem;
    width: 3rem;
}