@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.container {
  @include flex(center, center, column);
  min-width: 35rem;
  height: 39rem;
  margin: 0.5rem;

  background-color: $white;

  .title {
    @include flex(center, center, row);
    gap: 0.5rem;
    padding-bottom: 0.5rem;

    font-weight: bold;
    font-size: 1.8rem;
  }

  .slider {
    @include flex(center, center, row);
  }

  .arrow {
    padding: 1rem;

    color: $primary;
    font-size: 3rem;

    cursor: pointer;
    opacity: 0.2;

    &:hover {
      opacity: 1;

      transition: 0.6s;
    }
  }
}
