@import "scss/colors";
@import "scss/mixins";
@import "scss/variable";

.container{
    @include flex(center, center, row);
    background-color: $white;
    margin:.5rem;
  
  .slider {
    @include flex(center, center, row);
  
    .slide {
      opacity: 1;
      transition-duration: 2s ease;
      transform: scale(0.9);
    }
  
    .slideActive {
      opacity: 1;
      transition-duration: 2s;
      transform: scale(1);
    }
   .card{
    @include flex(center, center, row);
    gap:1.5rem;
   }
    
  }
  
  .arrow {
    padding: 1rem;
    font-size: 3rem;
    color: $primary;
    cursor: pointer;
  
    opacity: 0.2;
  
  
    &:hover {
      opacity: 1;
      transition:0.6s;
    }
  
  }}