@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variable';

.container {
    z-index: 10;

    width: 100vw;
    height: 100vh;

    overflow-y: auto;

    background-color: $white;

    @include responsive(md) {
        width: 40vw;
    }

    @include responsive(lg) {
        width: 30vw;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

    width: 100vw;
    height: 100vh;

    background-color: $backdrop;
}


.navbarToggleButton {
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 300;

    padding: 1rem 1.5rem;

    font-size: 4rem;

    background-color: $gray;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 2.8rem 0.1rem $black;
    cursor: pointer;
}